<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<!--指定一个唯一的映射id-->
<mapper namespace="com.cloud.shop.dao.SpecificationMapper">

    <resultMap id="SpecificationResultMap" type="Specification">
        <id column="id" property="id" javaType="Long"/>
        <result column="spec_name" property="specName" javaType="String"/>
    </resultMap>

    <resultMap id="SpecificationOptionResultMap" type="SpecificationOption">
        <id column="id" property="id" javaType="Long"/>
        <result column="option_name" property="optionName" javaType="String"/>
        <result column="spec_id" property="specId" javaType="Long"/>
        <result column="orders" property="orders" javaType="Long"/>
    </resultMap>
    <!--为sql语句指定一个唯一id，parameterType:指定查询参数类型，resultType:指定返回结果集类型(路径)-->
    <select id="findSpList" resultMap="SpecificationResultMap">
        <!--这里写sql，如:select * from t_user where id=#{id} -->
        select * from tb_specification
    </select>

    <select id="findSpOpListBySpId" resultMap="SpecificationOptionResultMap" parameterType="Long">
        select spop.* from tb_specification sp join tb_specification_option spop on sp.id=spop.spec_id where sp.id=#{id}
    </select>

    <select id="findSpLikeName" resultMap="SpecificationResultMap" parameterType="String">
        select * from tb_specification where spec_name like concat('%',#{specName},'%')
    </select>

    <insert id="createSp" parameterType="Specification" keyProperty="id" useGeneratedKeys="true">
        insert into tb_specification(spec_name) values (#{specName})
    </insert>

    <insert id="createSpOp" parameterType="SpecificationOption" useGeneratedKeys="true" keyProperty="id">
        insert into tb_specification_option(option_name,spec_id,orders) values (#{optionName},#{specId},#{orders})
    </insert>

    <update id="updateSp" parameterType="Specification">
        update tb_specification set spec_name=#{specName} where id=#{id}
    </update>

    <update id="updateSpOp" parameterType="SpecificationOption">
        update tb_specification_option set option_name=#{optionName} where id=#{id}
    </update>

    <delete id="deleteSp" parameterType="Long">
        delete from tb_specification where id in
        <foreach collection="array" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteSpOp" parameterType="Long">
        delete from tb_specification_option where id=#{id}
    </delete>

    <select id="findSpById" resultMap="SpecificationResultMap" parameterType="Long">
        select * from tb_specification where id=#{id}
    </select>

    <select id="findOptionAll" resultMap="SpecificationResultMap">
        select * from tb_specification
    </select>
</mapper>